ENVIRONMENT=development
FRONTEND_URL=http://cloud-cost.local
BACKEND_URL=http://api-cloud-cost.local
POSTGRES_DB=cloud_cost
POSTGRES_USER=cloud_cost
POSTGRES_PASSWORD=change_me_for_local_use
DATABASE_URL=postgresql://cloud_cost:change_me_for_local_use@database:5432/cloud_cost
MAX_UPLOAD_MB=500
